div {
  height: 30px;
  width: 30px;
}

#a {
  background-color: blue;
}


#b {
  background-color: red;
}


#c {
  background-color: yellow;
}


#d {
  background-color: purple;
}


#e {
  background-color: orange;
}
